<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{title}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" *ngIf="!authService.authenticated" (click)="authService.login()">Log in</a>
      <a class="mdl-navigation__link" *ngIf="authService.authenticated" (click)="authService.logout()">Log out</a>
      <a class="mdl-navigation__link" routerLink="/public" routerLinkActive="active">Public Quotes</a>
      <a class="mdl-navigation__link" *ngIf="authService.authenticated" routerLink="/private" routerLinkActive="active">Private Quotes</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>